<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ndc.channel.mapper.NdcChannelApiLogMapper" >
  <resultMap id="BaseResultMap" type="com.ndc.channel.entity.NdcChannelApiLog" >
    <id column="log_id" property="logId" jdbcType="BIGINT" />
    <result column="ndc_account_code" property="ndcAccountCode" jdbcType="VARCHAR" />
    <result column="ndc_account_name" property="ndcAccountName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="request_time" property="requestTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="method_name" property="methodName" jdbcType="VARCHAR" />
    <result column="duration" property="duration" jdbcType="BIGINT" />
    <result column="params" property="params" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    log_id, ndc_account_code, ndc_account_name, type, url, request_time, status, method_name, 
    duration, params, result
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select *
    from ndc_channel_api_log
    where log_id = #{logId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ndc_channel_api_log
    where log_id = #{logId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ndc.channel.entity.NdcChannelApiLog" >
    insert into ndc_channel_api_log (log_id, ndc_account_code, ndc_account_name,
      type, url, request_time,
      status, method_name, duration,
      params, result)
    values (#{logId,jdbcType=BIGINT}, #{ndcAccountCode,jdbcType=VARCHAR}, #{ndcAccountName,jdbcType=VARCHAR},
      #{type,jdbcType=TINYINT}, #{url,jdbcType=VARCHAR}, #{requestTime,jdbcType=TIMESTAMP},
      #{status,jdbcType=TINYINT}, #{methodName,jdbcType=VARCHAR}, #{duration,jdbcType=BIGINT},
      #{params,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ndc.channel.entity.NdcChannelApiLog" >
    insert into ndc_channel_api_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        log_id,
      </if>
      <if test="ndcAccountCode != null" >
        ndc_account_code,
      </if>
      <if test="ndcAccountName != null" >
        ndc_account_name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="requestTime != null" >
        request_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="methodName != null" >
        method_name,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="params != null" >
        params,
      </if>
      <if test="result != null" >
        result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=BIGINT},
      </if>
      <if test="ndcAccountCode != null" >
        #{ndcAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="ndcAccountName != null" >
        #{ndcAccountName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="requestTime != null" >
        #{requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="methodName != null" >
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=BIGINT},
      </if>
      <if test="params != null" >
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ndc.channel.entity.NdcChannelApiLog" >
    update ndc_channel_api_log
    <set >
      <if test="ndcAccountCode != null" >
        ndc_account_code = #{ndcAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="ndcAccountName != null" >
        ndc_account_name = #{ndcAccountName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="requestTime != null" >
        request_time = #{requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="methodName != null" >
        method_name = #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="duration != null" >
        duration = #{duration,jdbcType=BIGINT},
      </if>
      <if test="params != null" >
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=VARCHAR},
      </if>
    </set>
    where log_id = #{logId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ndc.channel.entity.NdcChannelApiLog" >
    update ndc_channel_api_log
    set ndc_account_code = #{ndcAccountCode,jdbcType=VARCHAR},
      ndc_account_name = #{ndcAccountName,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      url = #{url,jdbcType=VARCHAR},
      request_time = #{requestTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      method_name = #{methodName,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=BIGINT},
      paramns = #{params,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR}
    where log_id = #{logId,jdbcType=BIGINT}
  </update>
</mapper>